# Listen interface and port e.g. "0:8000", "localhost:9090", ":80"
Listen: ":8080"
TechnicalEndpointListen: ":8071"
# Technical health check endpoint (for load balancers)
HealthCheckEndpoint: "/status/ping"
# Additional not AWS S3 specific headers proxy will add to original request
AdditionalResponseHeaders:
    'Access-Control-Allow-Origin': "*"
    'Access-Control-Allow-Credentials': "true"
    'Access-Control-Allow-Methods': "GET, POST, OPTIONS"
    'Access-Control-Allow-Headers': 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,X-CSRFToken'
# Additional headers added to backend response
AdditionalRequestHeaders:
    'Cache-Control': "public, s-maxage=600, max-age=600"
    'X-Akubra-Version': '0.9.26'
# Maximum accepted body size
BodyMaxSize: "100MB"
# Backend in maintenance mode. Akubra will skip this endpoint
# MaxIdleConns see: https://golang.org/pkg/net/http/#Transport
# Default 0 (no limit)
MaxIdleConns: 0
# MaxIdleConnsPerHost see: https://golang.org/pkg/net/http/#Transport
# Default 100
MaxIdleConnsPerHost: 100
# IdleConnTimeout see: https://golang.org/pkg/net/http/#Transport
# Default 0 (no limit)
IdleConnTimeout: 0s
# ResponseHeaderTimeout see: https://golang.org/pkg/net/http/#Transport
# Default 5s (no limit)
ResponseHeaderTimeout: 5s
# DisableKeepAlives see: https://golang.org/pkg/net/http/#Transport
# Default false
DisableKeepAlives: false
# Maximum number of incoming requests to process at once
MaxConcurrentRequests: 200
# MaintainedBackends:
#   - "http://127.0.0.1:9002"

# List request methods to be logged in synclog in case of backend failure
SyncLogMethods:
  - PUT
  - DELETE
# Configure sharding
Clusters:
  cluster1:
    Backends:
      - http://127.0.0.1:9001
  cluster2:
    Backends:
      - http://127.0.0.1:9002
Regions:
  myregion:
    Clusters:
      - Cluster: cluster1
        Weight: 0
      - Cluster: cluster2
        Weight: 1
    Domains:
      - myregion.internal

Logging:
  Synclog:
    stderr: true
  #  stdout: false  # default: false
  #  file: "/var/log/akubra/sync.log"  # default: ""
  #  syslog: LOG_LOCAL1  # default: LOG_LOCAL1

  Mainlog:
    stderr: true
  #  stdout: false  # default: false
  #  file: "/var/log/akubra/akubra.log"  # default: ""
  #  syslog: LOG_LOCAL2  # default: LOG_LOCAL2
  #  level: Error   # default: Debug

  Accesslog:
    stderr: true  # default: false
  #  stdout: false  # default: false
  #  file: "/var/log/akubra/access.log"  # default: ""
  #  syslog: LOG_LOCAL3  # default: LOG_LOCAL3
  #   database:
  #     user: dbUser
  #     password: ""
  #     dbname: dbName
  #     host: localhost
  #     inserttmpl: |
  #       INSERT INTO tablename(path, successhost, failedhost, ts,
  #        method, useragent, error)
  #       VALUES ('new','{{.path}}','{{.successhost}}','{{.failedhost}}',
  #       '{{.ts}}'::timestamp, '{{.method}}','{{.useragent}}','{{.error}}');

Metrics:
  Target: expvar
  ExpAddr: ":9089"

